h4{
    background-color: blue;
    text-align: center;
    color: white;
    width: 70%
}
body{
    background-color: plum;
}
h1{
    color: white;
    font-family: 'Times New Roman', Times, serif;
}
#camera, #result{
    border: 2px dashed black;
    width:300px;
    height:300px;
}